.menuItem {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 18px;
  color: #0F0F2B;
  user-select: none;

  &:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
    cursor: pointer;
  }

  &:active {
    mix-blend-mode: normal;
    opacity: 0.9;
  }
}