$sizeTriangle: 260px;
$sizeHalfCircle: $sizeTriangle/2 + 5px;

.shape-wrapper {
  width: 450px;
  height: 330px;

  display: flex;
  flex-flow: column-reverse;

  .triangle-bottomRight {
      width: 0;
      height: 0;
      border-bottom: $sizeTriangle solid #6650D5;
      border-left: $sizeTriangle solid transparent;
      position: absolute;
      right: 0;
      z-index: 2;
  }

  .rounded-rectangle {
      width: 450px;
      height: calc(#{$sizeTriangle} - 35px);
      background: #FF6464;
      border-radius: 180px 0px 0px 180px;
      z-index: 1;
  }

  .half-circle {
    background: #FFA664;
    height: $sizeHalfCircle * 2;
    width: $sizeHalfCircle;
    border-bottom-left-radius: $sizeHalfCircle * 2;
    border-top-left-radius: $sizeHalfCircle * 2;

    position: absolute;
    right: 0;
    margin: 0 45px 60px 0;

    z-index: 0;
  }
}