.action-wrapper {
  display: flex;
  flex-direction: column;

  width: 410px;
  height: 189px;

  font-family: Muli;
  font-style: normal;

  margin: 144px 106.6px 0 243px;

  h1 {
    font-weight: bold;
    font-size: 32.4px;
    line-height: 41px;
    color: #0F0F2B;
  }

  span {
    font-weight: normal;
    font-size: 16.2px;
    line-height: 24px;
    color: #0F0F2B;

    margin: 15.7px 0 26.6px 0;
  }
}